.profile {
  width: 260px;
  height: 100%;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile__head {
  text-align: center;
}

.profile__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
}

.profile__data {
  padding-top: 80px;
  width: 100%;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.18;
  flex-grow: 1;
}

.profile__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.profile__label {
  min-height: 17px;
  padding-top: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #E8E8E8;
}

.profile__label:first-child {
  padding-top: 0;
  border-top: none;
}

.profile__field {
  display: block;
  min-height: 17px;
  margin: 0 0 6px 0;
  padding: 5px 0;
  border: none;
  outline: none;
  overflow: hidden;
  font-size: 11px;
  line-height: 1.18;
  text-align: right;
  color: #000000;
}

.profile__field:last-child {
  margin-bottom: 0;
}

.profile__field:focus-visible {
  outline: none;
}

.profile__field_type_error {
  color: #FF4062;
}

.profile__error {
  height: 12px;
  margin-bottom: 10px;
  font-size: 10px;
  line-height: 1.2;
  color: #FF4062;
}

.profile__actions {
  width: 260px;
  position: absolute;
  bottom: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__btn {
  min-height: 15px;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 1.25;
  background-color: #FFFFFF;
  color: #000000;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.profile__btn_disabled {
  color: #A0A0A0;
}

.profile__btn:last-child {
  margin-bottom: 0;
}

.profile__btn_type_hot {
  color: #FF4062;
}

.profile__logo {
  width: 38px;
  height: 38px;
  margin: 0 auto 50px;
}

.profile__logo-link {
  font-size: 0;
}

@media screen and (min-width: 768px) {
  .profile {
    width: 410px;
    height: 482px;
    padding-top: 0;
  }

  .profile__align {
    height: calc(100vh - 74px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profile__logo {
    margin-bottom: 40px;
  }
  
  .profile__data {
    padding-top: 96px;
  }
  
  .profile__actions {
    position: unset;
    width: 410px;
  }

  .profile__link {
    min-height: 16px;
    font-size: 13px;
    line-height: 1.23;
  }

  .profile__submit-btn {
    width: 396px;
  }
}

@media screen and (min-width: 1200px) {
  .profile__data {
    padding-top: 123px;
  }
}